openapi: 3.0.3
info:
  title: Wonderment Delivery Promise API
  description: Wonderment is a post-purchase order tracking and shipment visibility platform for ecommerce (now part of Loop). The REST API exposes shipment search, report exports, and delivery-date predictions for the authenticated Shopify shop. Assembled by API Evangelist from the per-operation OpenAPI blocks published on the Wonderment ReadMe developer hub.
  version: 2022-10
  contact:
    name: Wonderment Support
    url: https://help.wonderment.com/
servers:
- url: https://api.wonderment.com
  description: Production
security:
- apiKeyHeader: []
tags:
- name: Delivery Promise
  description: Delivery-date predictions for shipping methods.
paths:
  /predictions:
    get:
      summary: Get delivery date predictions for shipping methods
      tags:
      - Delivery Promise
      parameters:
      - name: zip
        in: query
        description: Destination zip code
        required: true
        schema:
          type: string
      - name: shipping_methods
        in: query
        description: Array of shipping method names to get predictions for
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: variant_ids
        in: query
        description: Array of product variant IDs
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Successful response with delivery predictions
          content:
            application/json:
              schema:
                type: object
                properties:
                  predictions:
                    type: array
                    items:
                      type: object
                      properties:
                        shippingMethod:
                          type: string
                          description: Name of the shipping method
                        estimatedDeliveryDate:
                          type: string
                          format: date-time
                          description: Median estimated delivery date
                        minDate:
                          type: string
                          format: date-time
                          description: Earliest estimated delivery date
                        maxDate:
                          type: string
                          format: date-time
                          description: Latest estimated delivery date
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '404':
          description: No predictions found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
      operationId: getDeliveryPredictions
      servers:
      - url: https://api.wonderment.com/delivery-promise
        description: Delivery Promise service base path (published as /delivery-promise)
components:
  securitySchemes:
    apiKeyHeader:
      type: apiKey
      name: X-Wonderment-Access-Token
      in: header
      description: 'Wonderment API access token. Format: sk_live_<shop>_<secret>. Send in the X-Wonderment-Access-Token header over HTTPS.'
