{
  "openapi": "3.0.3",
  "info": {
    "title": "Wonderment API",
    "description": "Wonderment is a post-purchase order tracking and shipment visibility platform for ecommerce (now part of Loop). The REST API exposes shipment search, report exports, and delivery-date predictions for the authenticated Shopify shop. Assembled by API Evangelist from the per-operation OpenAPI blocks published on the Wonderment ReadMe developer hub.",
    "version": "2022-10",
    "contact": {
      "name": "Wonderment Support",
      "url": "https://help.wonderment.com/"
    }
  },
  "servers": [
    {
      "url": "https://api.wonderment.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Shipments",
      "description": "Search shipments and tracking events for the authenticated shop."
    },
    {
      "name": "Reports",
      "description": "List and download shipment report exports."
    },
    {
      "name": "Delivery Promise",
      "description": "Delivery-date predictions for shipping methods."
    }
  ],
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/2022-10/shipments/search/{searchTerm}": {
      "get": {
        "tags": [
          "Shipments"
        ],
        "description": "Search shipments for the authenticated shop by order name or tracking code. Requests require a Wonderment API access token with shipment read access. Some shops also require customer verification with the optional `t` query parameter.",
        "parameters": [
          {
            "name": "searchTerm",
            "in": "path",
            "required": true,
            "description": "Order name or tracking code associated with the shipment.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "t",
            "in": "query",
            "required": false,
            "description": "Base64-encoded customer verification payload. When provided, it can override `searchTerm` with its `query` value and should include the customer `email` or `phone`. Required only when customer search authentication is enabled for the shop.",
            "schema": {
              "type": "string",
              "example": "eyJxdWVyeSI6IjEwMDEiLCJlbWFpbCI6ImN1c3RvbWVyQGV4YW1wbGUuY29tIn0="
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "description": "Returns null when no matching order or tracking code is found.",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Order name for the matched shipment search result."
                    },
                    "shipments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trackingUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "trackingCode": {
                            "type": "string"
                          },
                          "carrierName": {
                            "type": "string"
                          },
                          "eta": {
                            "type": "string",
                            "nullable": true,
                            "description": "Estimated delivery timestamp when available. Pending fallback responses may return the literal value pending."
                          },
                          "serviceLevel": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "token": {
                                "type": "string"
                              }
                            }
                          },
                          "order": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Numeric Shopify order ID, returned without the gid://shopify/Order/ prefix."
                              },
                              "name": {
                                "type": "string",
                                "description": "Shopify order name, such as #1001."
                              }
                            }
                          },
                          "statusDetails": {
                            "type": "object",
                            "properties": {
                              "trackingCode": {
                                "type": "string"
                              },
                              "details": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "description": "Wonderment shipment status."
                              },
                              "substatus": {
                                "type": "string",
                                "description": "Carrier-provided substatus."
                              },
                              "date": {
                                "type": "string",
                                "description": "Event timestamp. When timezone data is available, this uses the event timezone value."
                              },
                              "city": {
                                "type": "string",
                                "nullable": true
                              },
                              "state": {
                                "type": "string",
                                "nullable": true
                              },
                              "zip": {
                                "type": "string",
                                "nullable": true
                              },
                              "country": {
                                "type": "string",
                                "nullable": true
                              },
                              "trackingUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "eta": {
                                "type": "string",
                                "nullable": true
                              },
                              "isTimezoneProvided": {
                                "type": "boolean",
                                "nullable": true,
                                "description": "Whether the event timestamp included an explicit timezone."
                              },
                              "displayTimezone": {
                                "type": "string",
                                "nullable": true,
                                "description": "Display timezone for the event location, when available."
                              },
                              "createdAt": {
                                "type": "string",
                                "nullable": true,
                                "description": "Timestamp when the event was stored."
                              },
                              "locationDisplay": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "description": "Most recent shipment event. Omitted when the shipment has no non-expired events."
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "trackingCode": {
                                  "type": "string"
                                },
                                "details": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string",
                                  "description": "Wonderment shipment status."
                                },
                                "substatus": {
                                  "type": "string",
                                  "description": "Carrier-provided substatus."
                                },
                                "date": {
                                  "type": "string",
                                  "description": "Event timestamp. When timezone data is available, this uses the event timezone value."
                                },
                                "city": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "state": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "zip": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "trackingUrl": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "eta": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "isTimezoneProvided": {
                                  "type": "boolean",
                                  "nullable": true,
                                  "description": "Whether the event timestamp included an explicit timezone."
                                },
                                "displayTimezone": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Display timezone for the event location, when available."
                                },
                                "createdAt": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Timestamp when the event was stored."
                                },
                                "locationDisplay": {
                                  "type": "string",
                                  "nullable": true
                                }
                              }
                            }
                          },
                          "lineItems": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "trackingCode": {
                                  "type": "string"
                                },
                                "lineItemId": {
                                  "type": "string",
                                  "description": "Numeric Shopify line item ID, returned without the gid://shopify/LineItem/ prefix."
                                },
                                "productImage": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Image URL when available; may be an empty string."
                                },
                                "productName": {
                                  "type": "string",
                                  "description": "Product title stored from Shopify."
                                },
                                "variantName": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Variant title stored from Shopify; may be an empty string."
                                },
                                "variantImage": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "Image URL when available; may be an empty string."
                                },
                                "sku": {
                                  "type": "string",
                                  "nullable": true,
                                  "description": "SKU stored from Shopify; may be an empty string."
                                },
                                "quantity": {
                                  "type": "integer",
                                  "nullable": true,
                                  "description": "Fulfilled quantity for this line item when available, otherwise the order line item quantity."
                                }
                              }
                            }
                          },
                          "date": {
                            "type": "string",
                            "nullable": true,
                            "description": "Present for pending/unfulfilled order fallback responses; ISO timestamp when included."
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "found": {
                    "summary": "Shipment found",
                    "value": {
                      "name": "#1001",
                      "shipments": [
                        {
                          "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400111206213767912345",
                          "trackingCode": "9400111206213767912345",
                          "carrierName": "USPS",
                          "eta": "2026-04-24",
                          "serviceLevel": {
                            "name": "USPS Ground Advantage",
                            "token": "usps_ground_advantage"
                          },
                          "order": {
                            "id": "1234567890",
                            "name": "#1001"
                          },
                          "statusDetails": {
                            "trackingCode": "9400111206213767912345",
                            "details": "Delivered, In/At Mailbox",
                            "status": "DELIVERED",
                            "substatus": "delivered",
                            "date": "2026-04-24T14:32:00",
                            "city": "Austin",
                            "state": "TX",
                            "zip": "78701",
                            "country": "US",
                            "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400111206213767912345",
                            "eta": "2026-04-24",
                            "createdAt": "2026-04-24T14:36:12+0000",
                            "locationDisplay": "Austin, TX, 78701, US",
                            "isTimezoneProvided": false,
                            "displayTimezone": "America/Chicago"
                          },
                          "events": [
                            {
                              "trackingCode": "9400111206213767912345",
                              "details": "Shipping label created",
                              "status": "PRE_TRANSIT",
                              "substatus": "information_received",
                              "date": "2026-04-21T09:15:00",
                              "city": "Austin",
                              "state": "TX",
                              "zip": "78701",
                              "country": "US",
                              "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400111206213767912345",
                              "eta": "2026-04-24",
                              "createdAt": "2026-04-21T09:18:03+0000",
                              "locationDisplay": "Austin, TX, 78701, US",
                              "isTimezoneProvided": false,
                              "displayTimezone": "America/Chicago"
                            },
                            {
                              "trackingCode": "9400111206213767912345",
                              "details": "Delivered, In/At Mailbox",
                              "status": "DELIVERED",
                              "substatus": "delivered",
                              "date": "2026-04-24T14:32:00",
                              "city": "Austin",
                              "state": "TX",
                              "zip": "78701",
                              "country": "US",
                              "trackingUrl": "https://tools.usps.com/go/TrackConfirmAction?tLabels=9400111206213767912345",
                              "eta": "2026-04-24",
                              "createdAt": "2026-04-24T14:36:12+0000",
                              "locationDisplay": "Austin, TX, 78701, US",
                              "isTimezoneProvided": false,
                              "displayTimezone": "America/Chicago"
                            }
                          ],
                          "lineItems": [
                            {
                              "trackingCode": "9400111206213767912345",
                              "lineItemId": "9876543210",
                              "productImage": "https://cdn.shopify.com/s/files/example/product.jpg",
                              "productName": "Wonderment T-Shirt",
                              "variantName": "Medium / Black",
                              "variantImage": "https://cdn.shopify.com/s/files/example/variant.jpg",
                              "sku": "WM-TSHIRT-M-BLK",
                              "quantity": 1
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "notFound": {
                    "summary": "No matching shipment",
                    "value": null
                  },
                  "pending": {
                    "summary": "Order received, no tracking yet",
                    "value": {
                      "name": "#1002",
                      "shipments": [
                        {
                          "trackingCode": "",
                          "trackingUrl": null,
                          "carrierName": "",
                          "date": "2026-04-21T09:15:00.000Z",
                          "eta": "pending",
                          "serviceLevel": {
                            "name": "",
                            "token": ""
                          },
                          "statusDetails": {
                            "status": "PENDING",
                            "substatus": "order_received",
                            "date": "2026-04-21T09:15:00.000Z",
                            "details": "Order has been received"
                          },
                          "lineItems": [],
                          "events": [],
                          "order": {
                            "id": "1234567891",
                            "name": "#1002"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid search term.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Invalid request. Must include search term."
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or customer verification failed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "authenticationFailed": {
                    "value": {
                      "message": "401: Authentication Failed"
                    }
                  },
                  "orderNotFound": {
                    "value": {
                      "message": "We couldn't find that order"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Shop does not have an active paid plan for API access.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "Upgrade to a Wonderment paid plan for access."
                }
              }
            }
          },
          "403": {
            "description": "Token does not include shipment read access."
          }
        },
        "summary": "Search shipments",
        "operationId": "searchShipments"
      }
    },
    "/2022-10/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List reports",
        "description": "List report exports for the authenticated shop. Reports are returned newest first.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of reports to return. Defaults to 100. Must be between 1 and 500.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Report export file name."
                      },
                      "status": {
                        "type": "string",
                        "description": "Report export status, such as finished."
                      },
                      "downloadUrl": {
                        "type": "string",
                        "nullable": true,
                        "description": "Download URL for finished, unexpired reports."
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "expiresAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                      },
                      "expired": {
                        "type": "boolean"
                      },
                      "rowCount": {
                        "type": "integer",
                        "nullable": true
                      },
                      "createdBy": {
                        "type": "string",
                        "nullable": true
                      },
                      "scheduledReport": {
                        "type": "object",
                        "nullable": true,
                        "properties": {
                          "frequencyTimeUnit": {
                            "type": "string",
                            "nullable": true
                          },
                          "frequencyTimeAmount": {
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                },
                "example": [
                  {
                    "name": "20260407T123906_shipments_report.csv.zip",
                    "status": "finished",
                    "downloadUrl": "https://api.wonderment.com/api/shipment/report/download/20260407T123906_shipments_report.csv.zip",
                    "createdAt": "2026-04-07T12:39:06.000Z",
                    "expiresAt": "2026-07-06T12:39:06.000Z",
                    "expired": false,
                    "rowCount": 1234,
                    "createdBy": "user@example.com",
                    "scheduledReport": {
                      "frequencyTimeUnit": "days",
                      "frequencyTimeAmount": 7
                    }
                  }
                ]
              }
            }
          },
          "400": {
            "description": "Invalid limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "message": "limit must be between 1 and 500"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "operationId": "listReports"
      }
    },
    "/api/shipment/report/download/{path}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Download report",
        "description": "Download a finished report export by file name. Use the `name` value returned by the list reports endpoint, URL-encoded when it contains spaces or other special characters.",
        "parameters": [
          {
            "name": "path",
            "in": "path",
            "required": true,
            "description": "URL-encoded report file name returned as `name` from the list reports endpoint.",
            "schema": {
              "type": "string",
              "example": "20260421T0900_Courier%20claims%20-%20UK.csv.zip"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report file download.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "302": {
            "description": "Redirects when the report file cannot be found for the authenticated shop or cannot be loaded."
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized"
                }
              }
            }
          }
        },
        "operationId": "downloadReport"
      }
    },
    "/predictions": {
      "get": {
        "summary": "Get delivery date predictions for shipping methods",
        "tags": [
          "Delivery Promise"
        ],
        "parameters": [
          {
            "name": "zip",
            "in": "query",
            "description": "Destination zip code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shipping_methods",
            "in": "query",
            "description": "Array of shipping method names to get predictions for",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "variant_ids",
            "in": "query",
            "description": "Array of product variant IDs",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with delivery predictions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "predictions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "shippingMethod": {
                            "type": "string",
                            "description": "Name of the shipping method"
                          },
                          "estimatedDeliveryDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Median estimated delivery date"
                          },
                          "minDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Earliest estimated delivery date"
                          },
                          "maxDate": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Latest estimated delivery date"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No predictions found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getDeliveryPredictions",
        "servers": [
          {
            "url": "https://api.wonderment.com/delivery-promise",
            "description": "Delivery Promise service base path (published as /delivery-promise)"
          }
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "X-Wonderment-Access-Token",
        "in": "header",
        "description": "Wonderment API access token. Format: sk_live_<shop>_<secret>. Send in the X-Wonderment-Access-Token header over HTTPS."
      }
    }
  }
}